# NOTE: The env groups should be first created in the Render dashboard
# Since they do not allow `sync: false` in env groups, this is seems to be the only way

projects:
  - name: gfed-storefront-project
    environments:
      - name: production
        services:
          - type: web
            runtime: image
            plan: free
            name: sf-home-prod
            region: oregon
            autoDeployTrigger: off
            image:
              url: http://ghcr.io/goodfrontend/gfed-medusa-storefront/sf-home:latest
            envVars:
              - fromGroup: sf-prod-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-account-prod
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-account:latest
            envVars:
              - fromGroup: sf-prod-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-products-prod
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-products:latest
            envVars:
              - fromGroup: sf-prod-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-checkout-prod
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-checkout:latest
            envVars:
              - fromGroup: sf-prod-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-horz-prod
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-horz:latest
            envVars:
              - fromGroup: sf-prod-env-group

      - name: smoke
        services:
          - type: web
            runtime: image
            plan: free
            name: sf-home-smoke
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-home:latest
            envVars:
              - fromGroup: sf-smoke-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-account-smoke
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-account:latest
            envVars:
              - fromGroup: sf-smoke-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-products-smoke
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-products:latest
            envVars:
              - fromGroup: sf-smoke-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-checkout-smoke
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-checkout:latest
            envVars:
              - fromGroup: sf-smoke-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-horz-smoke
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-horz:latest
            envVars:
              - fromGroup: sf-smoke-env-group

      - name: qa
        services:
          - type: web
            runtime: image
            plan: free
            name: sf-home-qa
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-home:latest
            envVars:
              - fromGroup: sf-qa-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-account-qa
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-account:latest
            envVars:
              - fromGroup: sf-qa-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-products-qa
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-products:latest
            envVars:
              - fromGroup: sf-qa-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-checkout-qa
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-checkout:latest
            envVars:
              - fromGroup: sf-qa-env-group

          - type: web
            runtime: image
            plan: free
            name: sf-horz-qa
            region: oregon
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-storefront/sf-horz:latest
            envVars:
              - fromGroup: sf-qa-env-group
